

body, html, nav{
  height: 100%;
  margin: 0;
  font-family: "lato", sans-serif;
  line-height: 1.8em;
  color: #ffffff;
  display: block;
}




/* Background images */
.img1, .img2, .img3, .img4, .img5{
  position:relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Change fixed to 'scroll' if you want it to be normal */
  background-attachment: fixed;
  overflow-x: hidden;
}
.img1{
  background-image: url("P1060186.jpg");
  background-size: cover;
  min-height: 100%;
}

.img2{
  background-image: url("van.jpg");
  min-height: 400px;
}
.img3{
  background-image: url("verticaltrees.jpg");
  min-height: 400px;
}
.img4{
  background-image: url("P1060369.jpg");
  min-height: 400px;
}
.img5{
  background-image: url("P1060311.jpg");
  min-height: 400px;
}

@media only screen and (max-width: 600px){
  .img1{
    background: rgb(255,255,255);
    background: linear-gradient(131deg, rgba(255,255,255,1) 0%, rgba(0,151,199,0.9304096638655462) 100%);
  }

  .img2{
    background: rgb(255,255,255);
    background: linear-gradient(131deg, rgba(255,255,255,1) 0%, rgba(0,151,199,0.9304096638655462) 100%);
    min-height: 200px;
  }
  .img3{
    background: rgb(255,255,255);
    background: linear-gradient(131deg, rgba(255,255,255,1) 0%, rgba(0,151,199,0.9304096638655462) 100%);
    min-height: 200px;
  }
  .img4{
    background: rgb(255,255,255);
    background: linear-gradient(131deg, rgba(255,255,255,1) 0%, rgba(0,151,199,0.9304096638655462) 100%);
    min-height: 200px;
  }
  .img5{
    background: rgb(255,255,255);
    background: linear-gradient(131deg, rgba(255,255,255,1) 0%, rgba(0,151,199,0.9304096638655462) 100%);
    min-height: 200px;
  }
}


.text h1{
  font-size:5vw;
  padding-top: 18%;
  align-self: center;
  text-align: center;
  color: #000;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 8vh;
  text-transform: uppercase;
}

.text h2{
  font-size:2vw;
  width: 100%;
  padding-top: 2vh;
  align-self: center;
  text-align: center;
  color: #000;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 8vh;
  text-transform: uppercase;
}


@media only screen and (max-width: 600px) {
  .text h2 {
    display: none;
  }
  .text h1{
    padding-top: 65%;
    font-weight: 950;
  }
  .arrow1 {
    display: none;
    position: absolute;
    left:45%;
    bottom: 10px;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px;
  }
  .arrow2 {
    display: none;
    position: absolute;
    left:45%;
    bottom: 25px;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}



/* ABOUT ME SECTION */
.section-aboutme p{
  padding-bottom: 50px;
  width: 50%;
}
.section-aboutme h1{
  padding-top: 20px;
  font-size: 4vw;
  padding-bottom: 45px;
}
.section-aboutme h2{
  width: 50%;
  font-size: 200%;
  padding-bottom: 20px;
  font-weight: 200;

}
.section-aboutme{
  padding-left: 20px;
  padding-top: 50px;
  text-align: left;
  padding: 50  80;
  background-color: #282e34;
  color: #ddd;
}
.section-aboutme img{
  width: 25vw;
  position: absolute;
  right: 5%;

}

@media only screen and (max-width: 600px) {
  .section-aboutme{
    padding-left: 5px;
    padding-right: 5px;
  }
  .section-aboutme img{
    position: relative;
    width: 90%;
    padding-left: 9vw;
  }
  .section-aboutme h1{
    font-size: 7vw;
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
  .section-aboutme h2{
    width: 100%;
    text-align: center;
  }
  .section-aboutme p{
    text-align: center;
    width: 100%;
  }
}

/* PROJECTS SECTION */
.section-projects h1{
  font-size: 4vw;
  padding-bottom: 20px;
}
.section-projects h2{
  font-weight: 200;
  font-size: 200%;
  padding-bottom: 20px;
  text-align: center;
}
.section-projects p{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.section-projects{
  padding-left: 20px;
  padding-top: 50px;
  text-align: left;
  width: auto;
  background-color: #282e34;
  color: #ddd;
}

.DRONE:hover{
     border: 3px solid white;
}


@media only screen and (max-width: 600px) {
  .section-projects{
    padding-left: 5px;
    padding-right: 5px;
  }
  .section-projects h1{
    font-size: 7vw;
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
  .section-projects h2{
    width: 100%;
    text-align: center;
  }
  .section-projects p{
    text-align: center;
    width: 100%;
  }
  .section-projects div{
    text-align: center;
  }
  .section-projects img{
    width: 100%;
  }
}



/* Coursework Section */

.section-coursework h1{
  padding-top: 30px;
  font-size: 4vw
  }
.section-coursework h2{
    padding-top: 20px;
    font-size: 200%;
    font-weight: 200;
  }

.section-coursework img{
  width: 25vw;
  position: absolute;
  right: 5%;
}

  .section-coursework{
    padding-left: 40px;
    padding-top: 50px;
    text-align: left;
    width: auto;
    padding: 50  80;
    background-color: #282e34;
    color: #ddd;
  }
  @media only screen and (max-width: 600px) {
    .section-coursework img{
      width: 40vw;
      position: relative;
    }
    .section-coursework h1{
      font-size: 7vw;
      padding-top: 20px;
      width: 90%;
      text-align: center;
    }
    .section-coursework h2{
      font-size: 6.5vw;
      letter-spacing: 5;
    }
    .section-coursework div{
      text-align: center;
    }
  }

  /* Skills Section */
  .section-skills{
    padding-left: 40px;
    padding-top: 50px;
    text-align: left;
    width: auto;
    padding: 50  80;
    background-color: #282e34;
    color: #ddd;
  }

  .section-skills ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;
    list-style-type: none;
    padding-right: 5%;
  }

  .section-skills h1{
    font-size: 4vw;
  }

  .heading{
    font-size: 3vw;
    font-weight: 200;
  }

@media only screen and (max-width: 600px){
  .section-skills ul{
    columns: 1;
    width: 90%;
    text-align:center;
  }
  .section-skills h1{
    padding-top: 30px;
    font-size: 7vw;
    width: 90%;
    text-align: center;
    }
  .heading{
      padding-top: 20px;
      font-size: 200%;
      font-weight: 200;
    }
}


/* Contact Section */
.section-contact h1{
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: 200;
    width: 100%;
  }

.section-contact a{
  color: white;
}
.section-contact{
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  width: auto;
  padding: 50  80;
  background-color: #282e34;
  color: #ddd;
  }



/* add padding for the jumpto functions */
.aboutme{
  padding-top: 130px;
}
.projects{
  padding-top: 125px;
}
.coursework{
  padding-top: 145px;
}
.skills{
  padding-top: 130px;
}
.contact{
  padding-top: 155px;
}




@media (max-width:629px) {
  img#optionalstuff {
    display: none;
  }
}


/* MENU sidebar */
* {
margin: 0;
padding: 0;
}

nav {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right-color: #F5F5F5;
  border-right-style: solid;
  background-color: #282e34;
}


nav ul{
  text-align: center;
  float: center;
  }

nav ul li{
  display: inline-block;
  float: center;
  list-style: none;
  padding-top: 10px;
  position: static;

}

nav ul li a {
  float: top;
  color: #ddd;
  font-size: 30;
  font-family: "lato", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-decoration: none;
  display: block;
}
nav ul li a:hover{
color: grey;
}

@media only screen and (max-width: 600px){
  nav {
    display: none;
  }

}
